@mixin button {
  width: 39vw;
  padding: 12px;
  border-radius: 5px;
  background: $veryDarkCyan;
  color: $white;
}

@mixin reset_btn {
  width: 70vw;
  padding: 12px;
  border-radius: 5px;
  background: $strongCyan;
  color: $veryDarkCyan;
  cursor: pointer;

  &:disabled {
    background: $disabled;
    color: $veryDarkCyan;
  }

  &:hover {
    background: $lightStrongCyan;
    color: $veryDarkCyan;
  }
}
