@mixin button($custom: false){
  width: 39vw;
  color: $white;
  background: $veryDarkCyan;
  border-radius: 5px;
  padding: 12px;


@if $custom == false {

  &:hover,
  &:focus {
    color: $veryDarkCyan;
    background: $strongCyan;
    cursor: pointer;
  }
}

  
}

@mixin reset_btn {
  width: 70vw;
  color: $veryDarkCyan;
  background: $strongCyan;
  border-radius: 5px;
  padding: 12px;
}
