@mixin button($custom: false){
  color: $white;
  background: $veryDarkCyan;
  border-radius: 5px;
  padding: 12px;
  width: 39vw;
  
}

@mixin reset_btn {
  width: 70vw;
  color: $veryDarkCyan;
  background: $strongCyan;
  border-radius: 5px;
  padding: 12px;
  cursor: pointer;

  &:disabled {
    color: $veryDarkCyan;
    background: $disabled;
  }

  &:hover {
    color: $veryDarkCyan;
    background: $lightStrongCyan;
  }
}
