@mixin placeholder($color, $opacity: 100%) {
  &::-webkit-input-placeholder {
    color: $color;
    opacity: $opacity;
    @content;
  }
  &:-moz-placeholder {
    color: $color;
    opacity: $opacity;
    @content;
  }
  &::-moz-placeholder {
    color: $color;
    opacity: $opacity;
    @content;
  }
  &:-ms-input-placeholder {
    color: $color;
    opacity: $opacity;
    @content;
  }
}

@mixin input($textDir: center) {
  width: 84vw;
  padding: 10px 0px;
  border: none;
  background-color: $lightGrayishCyan;
  font-size: 23px;
  font-weight: 700;
  text-align: $textDir;
  color: $veryDarkCyan;

  &:hover,
  &:focus,
  &:target {
    border: 3px solid $strongCyan;
    cursor: pointer;
  }
}
