@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");
*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, button, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

body {
  font-family: "Space Mono", monospace;
  font-size: 24px;
  font-weight: 700;
  color: hsl(186, 14%, 43%);
  background: hsl(185, 38%, 97%);
  width: 100vw;
}

h2 {
  font-size: 16px;
  margin-bottom: 12px;
}

header {
  padding: 50px;
  text-align: center;
}

.card {
  background: hsl(0, 0%, 100%);
  padding: 32px;
  border-top-left-radius: 15%;
  border-top-right-radius: 15%;
}

.card_bill_input {
  position: relative;
  margin-bottom: 25px;
}
.card_bill_input_box {
  border: none;
  background-color: hsl(185, 38%, 97%);
  color: hsl(183, 100%, 15%);
  font-size: 24px;
  font-weight: 700;
  text-align: right;
  text-align: center;
  padding: 10px 10px 10px 40px;
  text-align: right;
}
.card_bill_input_icon {
  position: absolute;
  top: 16px;
  left: 12px;
}

.card_tip_btn_group {
  max-width: 100vw;
  display: flex;
  flex-wrap: wrap;
}
.card_tip_btn_group .btn {
  width: 39vw;
  color: hsl(0, 0%, 100%);
  background: hsl(183, 100%, 15%);
  border-radius: 5px;
  padding: 12px;
  margin: 7px 0;
}
.card_tip_btn_group .btn:hover {
  color: hsl(183, 100%, 15%);
  background: hsl(172, 67%, 45%);
}
.card_tip_btn_group .btn:nth-child(even) {
  margin-left: 7px;
}
.card_tip_btn_group .btn:nth-child(odd) {
  margin-right: 7px;
}
.card_tip_btn_group .btn:last-child {
  border: none;
  background-color: hsl(185, 38%, 97%);
  color: hsl(183, 100%, 15%);
  font-size: 24px;
  font-weight: 700;
  text-align: right;
  text-align: center;
  padding: 10px 10px 10px 40px;
  text-align: right;
}
.card_tip_btn_group .btn:last-child::-webkit-input-placeholder {
  color: hsl(183, 100%, 15%);
}
.card_tip_btn_group .btn:last-child:-moz-placeholder {
  color: hsl(183, 100%, 15%);
}
.card_tip_btn_group .btn:last-child::-moz-placeholder {
  color: hsl(183, 100%, 15%);
}
.card_tip_btn_group .btn:last-child:-ms-input-placeholder {
  color: hsl(183, 100%, 15%);
}

.card_people_input {
  position: relative;
}
.card_people_input_box {
  border: none;
  background-color: hsl(185, 38%, 97%);
  color: hsl(183, 100%, 15%);
  font-size: 24px;
  font-weight: 700;
  text-align: right;
  text-align: center;
  padding: 10px 10px 10px 40px;
  text-align: right;
}
.card_people_input_icon {
  position: absolute;
  top: 16px;
  left: 12px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}/*# sourceMappingURL=main.css.map */