@import 'variables';
@import 'mixins';
@import 'media';
@import 'button';
@import 'reset';
@import 'typography';

body {
  font-family: 'Space Mono', monospace;
  font-size: 24px;
  font-weight: 700;
  color: $darkGrayishCyan;
  background: $background;
  width: 100vw;
}

h2 {
  font-size: 16px;
  margin-bottom: 12px;
}

header {
  padding: 50px;
  text-align: center;
}

.card {
  background: $white;
  padding: 32px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;

  @include screen-desktop {
    width: 65%;
    height: 60vh;
    display: flex;
    margin: 0 auto;
    border-radius: 25px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 45px 48px 48px;
  }
}

.card_bill {
  margin-bottom: 32px;
  position: relative;
  @include screen-desktop {
    display: flex;
    flex-direction: column;
    width: 30vw;
    margin: 0;
  }

  &_input {
    position: relative;
    &_box {
      @include input($textDir: right);
      @include placeholder($veryDarkCyan, 50%);
      @include screen-desktop {
        width: 28vw;
      }
      padding: 10px;
    }

    &_icon {
      position: absolute;
      top: 16px;
      left: 12px;
    }
  }
}

.card_tip {
  margin-bottom: 32px;

  @include screen-desktop {
    display: flex;
    flex-direction: column;
    width: 28vw;
    margin: 0;
  }

  &_btn_group {
    // @include button;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    // margin: 0 auto;
    
    @include screen-desktop {
      max-width: 30vw;
    }

    .btn {
      margin: 6px 0;
      @include screen-desktop {
      }
    }

    #active {
      color: $veryDarkCyan;
      background: $strongCyan;
      cursor: pointer;
    }

    .btn:not(:last-child) {
      @include button;
      @include screen-desktop {
        width: 8vw;
      }
    }
    
    .btn:last-child {
      @include button($custom: true);
      @include input;
      @include placeholder($veryDarkCyan);
      width: 39vw;
      @include screen-desktop {
        width: 8vw;
      }
    }

    .btn:nth-child(even) {
      margin-left: 7px;
      @include screen-desktop {
        margin: 7px;
      }
    }
    .btn:nth-child(odd) {
      margin-right: 7px;
      @include screen-desktop {
        margin: 7px;
      }
    }
  }
}

.card_people {
  margin-bottom: 32px;
  position: relative;

  @include screen-desktop {
    display: flex;
    flex-direction: column;
    width: 30vw;
    margin: 0;
  }

  &_input {
    position: relative;

    &_box {
      @include input($textDir: right);
      @include placeholder($veryDarkCyan, 50%);
      @include screen-desktop {
        width: 28vw;
      }
      padding: 10px;
    }

    &_icon {
      position: absolute;
      top: 16px;
      left: 12px;
    }
  }
}

.card_results {
  color: $strongCyan;
  background: $veryDarkCyan;
  border-radius: 15px;
  padding: 37px 24px 24px;
  position: relative;

  @include screen-desktop {
    padding: 40px;
    width: 30vw;
    height: 100%;
  }

  h2 {
    color: $white;
    margin-bottom: 3px;
  }

  h3 {
    color: $dullGreenishGray;
    font-size: 13px;
  }

  #tip_amount,
  #total_amount {
    font-size: 32px;

    @include screen-desktop {
      font-size: 48px;
    }
  }

  &_input_row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 22px;
    &_heading {
      flex-direction: column;

      @include screen-desktop {
        margin-bottom: 40px;
        padding: 10px 0;
      }
    }
  }
  
  #reset_btn {
    @include reset_btn;
    font-size: 20px;
    margin-top: 28px;
    
    @include screen-desktop {
      width: 78%;
      position: absolute;
      bottom: 8%;
    }
  }
  
}

.error {
  border: 2px solid red;
}
.error_msg {
  color: $error;
  font-size: 16px;
  text-align: right;
  margin-right: 1.5em;
  display: inline;
  position: absolute;
  right: 0;
  top: 0;
}

.hidden {
  display: none;
}

// .custom_selected {
//   border: 3px solid $strongCyan;
// }

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}


// Removes input box arrows
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
