@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");
*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, button, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

body {
  font-family: "Space Mono", monospace;
  font-size: 24px;
  font-weight: 700;
  color: hsl(186, 14%, 43%);
  background: hsl(185, 41%, 84%);
  width: 100vw;
}

h2 {
  font-size: 16px;
  margin-bottom: 12px;
}

header {
  padding: 50px;
  text-align: center;
}

.card {
  background: hsl(0, 0%, 100%);
  padding: 32px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
@media screen and (min-width: 768px) {
  .card {
    width: 65%;
    height: 60vh;
    display: flex;
    margin: 0 auto;
    border-radius: 25px;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 45px 48px 48px;
  }
}

.card_bill {
  margin-bottom: 32px;
  position: relative;
}
@media screen and (min-width: 768px) {
  .card_bill {
    display: flex;
    flex-direction: column;
    width: 30vw;
    margin: 0;
  }
}
.card_bill_input {
  position: relative;
}
.card_bill_input_box {
  border: none;
  background-color: hsl(185, 38%, 97%);
  color: hsl(183, 100%, 15%);
  font-size: 23px;
  font-weight: 700;
  text-align: right;
  padding: 10px 0px;
  width: 28vw;
  padding: 10px;
}
.card_bill_input_box:hover, .card_bill_input_box:focus, .card_bill_input_box:target {
  border: 3px solid hsl(172, 67%, 45%);
  cursor: pointer;
}
.card_bill_input_box::-webkit-input-placeholder {
  color: hsl(183, 100%, 15%);
  opacity: 50%;
}
.card_bill_input_box:-moz-placeholder {
  color: hsl(183, 100%, 15%);
  opacity: 50%;
}
.card_bill_input_box::-moz-placeholder {
  color: hsl(183, 100%, 15%);
  opacity: 50%;
}
.card_bill_input_box:-ms-input-placeholder {
  color: hsl(183, 100%, 15%);
  opacity: 50%;
}
.card_bill_input_icon {
  position: absolute;
  top: 16px;
  left: 12px;
}

.card_tip {
  margin-bottom: 32px;
}
@media screen and (min-width: 768px) {
  .card_tip {
    display: flex;
    flex-direction: column;
    width: 28vw;
    margin: 0;
  }
}
.card_tip_btn_group {
  max-width: 30vw;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.card_tip_btn_group .btn {
  margin: 6px 0;
}
.card_tip_btn_group #active {
  color: hsl(183, 100%, 15%);
  background: hsl(172, 67%, 45%);
  cursor: pointer;
}
.card_tip_btn_group .btn:not(:last-child) {
  color: hsl(0, 0%, 100%);
  background: hsl(183, 100%, 15%);
  border-radius: 5px;
  padding: 12px;
}
@media screen and (min-width: 768px) {
  .card_tip_btn_group .btn:not(:last-child) {
    width: 8vw;
  }
}
.card_tip_btn_group .btn:nth-child(even) {
  margin-left: 7px;
}
@media screen and (min-width: 768px) {
  .card_tip_btn_group .btn:nth-child(even) {
    margin: 7px;
  }
}
.card_tip_btn_group .btn:nth-child(odd) {
  margin-right: 7px;
}
@media screen and (min-width: 768px) {
  .card_tip_btn_group .btn:nth-child(odd) {
    margin: 7px;
  }
}
.card_tip_btn_group .btn:last-child {
  color: hsl(0, 0%, 100%);
  background: hsl(183, 100%, 15%);
  border-radius: 5px;
  padding: 12px;
  border: none;
  background-color: hsl(185, 38%, 97%);
  color: hsl(183, 100%, 15%);
  font-size: 23px;
  font-weight: 700;
  text-align: center;
  padding: 10px 0px;
}
.card_tip_btn_group .btn:last-child:hover, .card_tip_btn_group .btn:last-child:focus, .card_tip_btn_group .btn:last-child:target {
  border: 3px solid hsl(172, 67%, 45%);
  cursor: pointer;
}
.card_tip_btn_group .btn:last-child::-webkit-input-placeholder {
  color: hsl(183, 100%, 15%);
  opacity: 100%;
}
.card_tip_btn_group .btn:last-child:-moz-placeholder {
  color: hsl(183, 100%, 15%);
  opacity: 100%;
}
.card_tip_btn_group .btn:last-child::-moz-placeholder {
  color: hsl(183, 100%, 15%);
  opacity: 100%;
}
.card_tip_btn_group .btn:last-child:-ms-input-placeholder {
  color: hsl(183, 100%, 15%);
  opacity: 100%;
}
@media screen and (min-width: 768px) {
  .card_tip_btn_group .btn:last-child {
    width: 8vw;
  }
}

.card_people {
  margin-bottom: 32px;
  position: relative;
}
@media screen and (min-width: 768px) {
  .card_people {
    display: flex;
    flex-direction: column;
    width: 30vw;
    margin: 0;
  }
}
.card_people_input {
  position: relative;
}
.card_people_input_box {
  border: none;
  background-color: hsl(185, 38%, 97%);
  color: hsl(183, 100%, 15%);
  font-size: 23px;
  font-weight: 700;
  text-align: right;
  padding: 10px 0px;
  width: 28vw;
  padding: 10px;
}
.card_people_input_box:hover, .card_people_input_box:focus, .card_people_input_box:target {
  border: 3px solid hsl(172, 67%, 45%);
  cursor: pointer;
}
.card_people_input_box::-webkit-input-placeholder {
  color: hsl(183, 100%, 15%);
  opacity: 50%;
}
.card_people_input_box:-moz-placeholder {
  color: hsl(183, 100%, 15%);
  opacity: 50%;
}
.card_people_input_box::-moz-placeholder {
  color: hsl(183, 100%, 15%);
  opacity: 50%;
}
.card_people_input_box:-ms-input-placeholder {
  color: hsl(183, 100%, 15%);
  opacity: 50%;
}
.card_people_input_icon {
  position: absolute;
  top: 16px;
  left: 12px;
}

.card_results {
  color: hsl(172, 67%, 45%);
  background: hsl(183, 100%, 15%);
  border-radius: 15px;
  padding: 37px 24px 24px;
  position: relative;
}
@media screen and (min-width: 768px) {
  .card_results {
    padding: 40px;
    width: 30vw;
    height: 100%;
  }
}
.card_results h2 {
  color: hsl(0, 0%, 100%);
  margin-bottom: 3px;
}
.card_results h3 {
  color: hsl(183, 15%, 56%);
  font-size: 13px;
}
.card_results #tip_amount,
.card_results #total_amount {
  font-size: 32px;
}
@media screen and (min-width: 768px) {
  .card_results #tip_amount,
  .card_results #total_amount {
    font-size: 48px;
  }
}
.card_results_input_row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 22px;
}
.card_results_input_row_heading {
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .card_results_input_row_heading {
    margin-bottom: 40px;
    padding: 10px 0;
  }
}
.card_results #reset_btn {
  width: 70vw;
  color: hsl(183, 100%, 15%);
  background: hsl(172, 67%, 45%);
  border-radius: 5px;
  padding: 12px;
  cursor: pointer;
  font-size: 20px;
  margin-top: 28px;
}
.card_results #reset_btn:disabled {
  color: hsl(183, 100%, 15%);
  background: hsl(183, 78%, 24%);
}
.card_results #reset_btn:hover {
  color: hsl(183, 100%, 15%);
  background: hsl(172, 61%, 77%);
}
@media screen and (min-width: 768px) {
  .card_results #reset_btn {
    width: 78%;
    position: absolute;
    bottom: 8%;
  }
}

.error {
  border: 2px solid red;
}

.error_msg {
  color: hsl(13, 70%, 61%);
  font-size: 16px;
  text-align: right;
  margin-right: 1.5em;
  display: inline;
  position: absolute;
  right: 0;
  top: 0;
}

.hidden {
  display: none;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}/*# sourceMappingURL=main.css.map */